In [81]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest

In [82]:
df = pd.DataFrame(columns=["instances"], index=range(1800))

# use apply to create a dictionary with "features" key and an array of 10 zeroes as its value for each row
df["instances"] = df.apply(lambda x: {"features": [0]*10}, axis=1)

# print the resulting dataframe
print(df.head())

                                      instances
0  {'features': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
1  {'features': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
2  {'features': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
3  {'features': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
4  {'features': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [85]:
train_data = df

In [137]:
data = {'instances': [{'features': [1, 2, 3]}]}
df = pd.DataFrame(data)
df

                 instances
0  {'features': [1, 2, 3]}

In [138]:
train_data = df

In [139]:
#if True:
    #train_data = [ train_data ]
    #train_data = pd.concat(train_data)
    #train_data = [ train_data ]
    #print(train_data)
    #print(type(train_data))

features_list = train_data["instances"]
features = [f["features"] for f in features_list]
original_features = pd.DataFrame(np.array(features))

In [135]:
original_features

   0  1  2
0  1  2  3