In [7]:
import numpy as np
def discretize_date(current_date, t):
    current_date = str(current_date)[:-7]
    cdate = datetime.strptime(current_date, '%Y-%m-%d %H:%M:%S')
    if t == 'hour_sin':
        return np.sin(2 * np.pi * cdate.hour/24.0)
    if t == 'hour_cos':
        return np.cos(2 * np.pi * cdate.hour/24.0)
    if t == 'day_sin':
        return np.sin(2 * np.pi * cdate.timetuple().tm_yday/365.0)
    if t == 'day_cos':
        return np.cos(2 * np.pi * cdate.timetuple().tm_yday/365.0)
    if t == 'week_day_sin':
        return np.sin(2 * np.pi * cdate.timetuple().tm_yday/7.0)
    if t == 'week_day_cos':
        return np.cos(2 * np.pi * cdate.timetuple().tm_yday/7.0)

In [20]:
import pandas as pd
import warnings
from datetime import datetime

def preprocess_data(data):
    if False:
        features = pd.DataFrame()
        features['state'] = data.get('transactionState')
        features['transactionId'] = data.get('transactionId')
        features['originUserId'] = data.get('originUserId')
        features['destinationUserId'] = data.get('destinationUserId')
        features['destinationCountry'] = data['destinationAmountDetails'].map(lambda x: x['country'])
        features['destinationCurrency'] = data['destinationAmountDetails'].map(lambda x: x['transactionCurrency'])
        features['destinationAmount'] = data['destinationAmountDetails'].map(lambda x: x['transactionAmount'])
        features['originCountry'] = data['originAmountDetails'].map(lambda x: x['country'])
        features['originCurrency'] = data['originAmountDetails'].map(lambda x: x['transactionCurrency'])
        features['originAmount'] = data['originAmountDetails'].map(lambda x: x['transactionAmount'])
        features['destinationMethod'] = data['destinationPaymentDetails'].map(lambda x: x['method'])
        features['originMethod'] = data['originPaymentDetails'].map(lambda x: x['method'])
        features.fillna('N/A', inplace = True)

        features['datetime'] = data['timestamp'].map(lambda x: datetime.fromtimestamp(int(x['$numberLong']) / 1000))
        date_types = ['hour_sin', 'hour_cos', 'day_sin', 'day_cos', 'week_day_sin', 'week_day_cos']
        for dt in date_types:
            features[dt] = features['datetime'].apply(lambda x : discretize_date(x, dt))


        features.drop(columns = ['datetime'], inplace = True)
        
    else:
        print(data)
        print(type(data))
        features = {}
        try:
            features['destinationCountry'] = data['destinationAmountDetails']['country']
        except KeyError:
            features['destinationCountry'] = None
        try:
            features['destinationCurrency'] = data['destinationAmountDetails']['transactionCurrency']
        except KeyError:
            features['destinationCurrency'] = None
        try:
            features['destinationAmount'] = data['destinationAmountDetails']['transactionAmount']
        except KeyError:
            features['destinationAmount'] = None
        try:
            features['originCountry'] = data['originAmountDetails']['country']
        except KeyError:
            features['originCountry'] = None
        try:
            features['originCurrency'] = data['originAmountDetails']['transactionCurrency']
        except KeyError:
            features['originCurrency'] = None
        try:
            features['originAmount'] = data['originAmountDetails']['transactionAmount']
        except KeyError:
            features['originAmount'] = None
        try:
            features['destinationMethod'] = data['destinationPaymentDetails']['method']
        except KeyError:
            features['destinationMethod'] = None
        try:
            features['originMethod'] = data['originPaymentDetails']['method']
        except KeyError:
            features['originMethod'] = None

        features['state'] = data.get('transactionState')
        features['transactionId'] = data.get('transactionId')
        features['originUserId'] = data.get('originUserId')
        features['destinationUserId'] = data.get('destinationUserId')
        try:
            features['datetime'] = datetime.fromtimestamp(int(data['timestamp']['$numberLong']) / 1000)
            date_types = ['hour_sin', 'hour_cos', 'day_sin', 'day_cos', 'week_day_sin', 'week_day_cos']
            for dt in date_types:
                features[dt] = discretize_date(features['datetime'], dt)
            features.pop('datetime')
        except KeyError:
            warnings.warn("No timestamp provided")
        
    return features

In [21]:
preprocess_data({
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "timestamp": {
    "$numberLong": "1662358419786"
  },
  "transactionId": "bd70fcaebc254c23b07b29fd994ba5f2",
  "originUserId": "29529892-22d3-4a74-b6f2-fbe1d5ee8b6f"
})

{'destinationAmountDetails': {'country': 'IN', 'transactionCurrency': 'INR', 'transactionAmount': 10132.8}, 'transactionState': 'CREATED', 'destinationPaymentDetails': {'method': 'GENERIC_BANK_ACCOUNT'}, 'originPaymentDetails': {'method': 'GENERIC_BANK_ACCOUNT'}, 'originAmountDetails': {'country': 'IN', 'transactionCurrency': 'INR', 'transactionAmount': 10132.8}, 'timestamp': {'$numberLong': '1662358419786'}, 'transactionId': 'bd70fcaebc254c23b07b29fd994ba5f2', 'originUserId': '29529892-22d3-4a74-b6f2-fbe1d5ee8b6f'}
<class 'dict'>

{'destinationCountry': 'IN',
 'destinationCurrency': 'INR',
 'destinationAmount': 10132.8,
 'originCountry': 'IN',
 'originCurrency': 'INR',
 'originAmount': 10132.8,
 'destinationMethod': 'GENERIC_BANK_ACCOUNT',
 'originMethod': 'GENERIC_BANK_ACCOUNT',
 'state': 'CREATED',
 'transactionId': 'bd70fcaebc254c23b07b29fd994ba5f2',
 'originUserId': '29529892-22d3-4a74-b6f2-fbe1d5ee8b6f',
 'destinationUserId': None,
 'hour_sin': 0.258819045102521,
 'hour_cos': -0.9659258262890682,
 'day_sin': -0.9033558023246842,
 'day_cos': -0.4288919379124841,
 'week_day_sin': 0.43388373911756595,
 'week_day_cos': -0.9009688679024154}

In [25]:
data = {
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "timestamp": {
    "$numberLong": "1662358419786"
  },
  "transactionId": "bd70fcaebc254c23b07b29fd994ba5f2",
  "originUserId": "29529892-22d3-4a74-b6f2-fbe1d5ee8b6f"
}

data = pd.DataFrame(data)
data = np.array([data]).reshape(1, -1)
data = pd.DataFrame(data)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,IN,CREATED,NaN,NaN,IN,NaN,bd70fcaebc254c23b07b29fd994ba5f2,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f,INR,CREATED,...,bd70fcaebc254c23b07b29fd994ba5f2,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f,NaN,CREATED,NaN,NaN,NaN,1662358419786,bd70fcaebc254c23b07b29fd994ba5f2,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f

In [46]:
pwd

'/Users/kevinvegda/Desktop/study/flagright'

In [74]:
training_data = [{
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "timestamp": {
    "$numberLong": "1662358419786"
  },
  "transactionId": "bd70fcaebc254c23b07b29fd994ba5f2",
  "originUserId": "29529892-22d3-4a74-b6f2-fbe1d5ee8b6f"
},{
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 145653.93
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 145653.93
  },
  "timestamp": {
    "$numberLong": "1662358416274"
  },
  "transactionId": "c9f8913d0bd548838e97bd6a609dbc45",
  "originUserId": "0b85951b-c817-499e-ad17-453e5feaf87c"
},{
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 6311
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 6311
  },
  "timestamp": {
    "$numberLong": "1662358117131"
  },
  "transactionId": "4de9f33636cf44378f748f723ee4ac87",
  "originUserId": "29529892-22d3-4a74-b6f2-fbe1d5ee8b6f"
},{
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 400000
  },
  "transactionState": "CREATED",
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 400000
  },
  "timestamp": {
    "$numberLong": "1662358001644"
  },
  "transactionId": "12b97d4eb51940d0886f609903fb2154",
  "originUserId": "2f6ec341-9075-4aaa-9db2-9fd5d8597f97",
  "destinationUserId": "0b85951b-c817-499e-ad17-453e5feaf87c",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  }
},{
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 45
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 45
  },
  "timestamp": {
    "$numberLong": "1662357941739"
  },
  "transactionId": "32c6bc06f67b4e2b8222f76c8268cea9",
  "originUserId": "0b85951b-c817-499e-ad17-453e5feaf87c"
}]

input_files = ["./data/flagright-test-transactions.json"]

training_data = [ pd.read_json(file) for file in input_files ]
training_data = pd.concat(training_data)

#[pd.DataFrame({json})]

In [48]:
training_data

,destinationAmountDetails,transactionState,destinationPaymentDetails,originPaymentDetails,originAmountDetails,timestamp,transactionId,originUserId,destinationUserId
0,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662358419786'},bd70fcaebc254c23b07b29fd994ba5f2,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f,NaN
1,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662358416274'},c9f8913d0bd548838e97bd6a609dbc45,0b85951b-c817-499e-ad17-453e5feaf87c,NaN
2,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662358117131'},4de9f33636cf44378f748f723ee4ac87,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f,NaN
3,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662358001644'},12b97d4eb51940d0886f609903fb2154,2f6ec341-9075-4aaa-9db2-9fd5d8597f97,0b85951b-c817-499e-ad17-453e5feaf87c
4,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662357941739'},32c6bc06f67b4e2b8222f76c8268cea9,0b85951b-c817-499e-ad17-453e5feaf87c,NaN
...,...,...,...,...,...,...,...,...,...
1795,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662199468414'},311429435255244075508140947161258421208,NaN,9fa40961-e989-4b40-8d40-78816ccde6b0
1796,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662199412645'},322113873786649356714350252684046334548,NaN,68d44d8a-cb77-4293-bb79-4fbc53bd93ff
1797,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662199301531'},710fce1fb8fa4da1aac66a9040799112,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f,NaN
1798,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662199232727'},b8d19de4d49245cca45b7a5060618c05,29529892-22d3-4a74-b6f2-fbe1d5ee8b6f,NaN
1799,"{'country': 'IN', 'transactionCurrency': 'INR'...",CREATED,{'method': 'GENERIC_BANK_ACCOUNT'},{'method': 'GENERIC_BANK_ACCOUNT'},"{'country': 'IN', 'transactionCurrency': 'INR'...",{'$numberLong': '1662199225580'},184393274689832409735689685527027658086,NaN,18c93a66-2bd3-4441-8857-9a8384386aa3

In [75]:
data = {
  "destinationAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "transactionState": "CREATED",
  "destinationPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originPaymentDetails": {
    "method": "GENERIC_BANK_ACCOUNT"
  },
  "originAmountDetails": {
    "country": "IN",
    "transactionCurrency": "INR",
    "transactionAmount": 10132.8
  },
  "timestamp": {
    "$numberLong": "1662358419786"
  },
  "transactionId": "bd70fcaebc254c23b07b29fd994ba5f2",
  "originUserId": "29529892-22d3-4a74-b6f2-fbe1d5ee8b6f"
}

In [79]:
def preprocess_training_data(data):
    if True:
        data = [ pd.DataFrame([data]) ]
        data = pd.concat(data)
        

    features = pd.DataFrame()
    features['state'] = data.get('transactionState')
    features['transactionId'] = data.get('transactionId')
    features['originUserId'] = data.get('originUserId')
    features['destinationUserId'] = data.get('destinationUserId')
    features['destinationCountry'] = data['destinationAmountDetails'].map(lambda x: x['country'])
    features['destinationCurrency'] = data['destinationAmountDetails'].map(lambda x: x['transactionCurrency'])
    features['destinationAmount'] = data['destinationAmountDetails'].map(lambda x: x['transactionAmount'])
    features['originCountry'] = data['originAmountDetails'].map(lambda x: x['country'])
    features['originCurrency'] = data['originAmountDetails'].map(lambda x: x['transactionCurrency'])
    features['originAmount'] = data['originAmountDetails'].map(lambda x: x['transactionAmount'])
    features['destinationMethod'] = data['destinationPaymentDetails'].map(lambda x: x['method'])
    features['originMethod'] = data['originPaymentDetails'].map(lambda x: x['method'])
    features.fillna('N/A', inplace = True)

    features['datetime'] = data['timestamp'].map(lambda x: datetime.fromtimestamp(int(x['$numberLong']) / 1000))
    date_types = ['hour_sin', 'hour_cos', 'day_sin', 'day_cos', 'week_day_sin', 'week_day_cos']
    for dt in date_types:
        features[dt] = features['datetime'].apply(lambda x : discretize_date(x, dt))


    features.drop(columns = ['datetime'], inplace = True)
    return features

In [77]:
preprocess_training_data(data)

AttributeError: 'list' object has no attribute 'get'